.CFUserTextEncoding
.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache
.config
.dbus
.esd_auth
.gitconfig
.lesshst
.local
.mplayer
.ssh
.viminfo
Downloads/.localized
Library
Movies
Music
Pictures
Public
